<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <div class="content">
            <h2>Weather tab</h2>
            <p>On the weather tab the application brings the information of your current position based on the browser latitude and longitude</p>
            <hr>
            <h2>Search tab</h2>
            <p>On this tab the application shows you the weather based on the location you put in the search form. Try for example with "London" or other city.</p>
        </div>
    </div>

    {{>footer}}

</body>
</html>