<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <div class="content">
            
            <form action="">
                <input type="text" placeholder="Write a location !">
                <button type='button'>Search</button>
            </form>
            
        </div>
    </div>
    
    {{>footer}}

    <script src="/js/search.js"></script>

</body>
</html>