<div class="forecast">
    <div>
        <div>
            <img id="weather-icon" src="" alt="">
            <p id="degrees"></p>
        </div>
        <div>
            <p id="location"></p>
            <p id="humidity"></p>
            <p id="wind"></p>
        </div>
    </div>
    <div>
        <p id="forecast"></p>
    </div>
</div>