<div class="forecast">
    <div class="main-forecast">
        <div class="weather">
            <div class="box-weather-icon">
                <img id="weather-icon" src="" alt="">
            </div>
            <div class="number">
                <p id="degrees" style="visibility: hidden;"></p>
            </div>
        </div>
        <div class="data">
            <p id="location"></p>
            <p id="humidity"></p>
            <p id="wind"></p>
            <p id="forecast"></p>
        </div>
    </div>
</div>