<h1 class="header-title">{{title}}</h1>
<p class="warning">You need to give access to your browser location, so the application can work properly.</p>

<div class="header">
    <a href="/">Weather</a>
    <a href="/search">Search</a>
    <a href="/help">Help</a>
</div>