html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    color: #333;
}

.footer {
    width: 100%;
    background-color: #2196F3;
    color: #fff;
    height: 4rem;
    position: absolute;
    bottom: 0;
    vertical-align: middle;
}